# Node
node_modules/

/config/bot.js
/pnpm-lock.yaml
/.idea
/index.js
/index.js.map
/Launch.cmd
/commands/PlayerCommands/play.js
/commands/PlayerCommands/play.js.map
/utilities/playMusic.js
/utilities/playMusic.js.map
